<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who am I?</h2>
                <hr class="light">
                <p class="text-white">
                    I am a mathematician graduated from the <a class="text-faded" href="https://www.tum.de">Technical University of Munich</a> and the <a class="text-faded" href="https://www.ipn.mx/english/">National Polytechnic Institute of Mexico</a>. I am interested in Mathematics, Motorcycles, Machine Learning, Computer Science, 4x4 vehicles, BigData, Aeronautics, Biology and Cyber Security (although I do not know in what order). In my free time I like to do any kind of outdoor activities, but also watching movies, especially if these are about science fiction. In case you wonder,
                    my favorite titles are Interstellar and The Aviator. <br>
                    I enjoy reading and learning about new stuff, but I also really like music.
                    My favorite artist is Mark Knoplfer (from Dire Straits), as he reminds me of my father who I love deeply.
                    By the time I wrote this, I was listening to Going Home (you can guess the author), which you should definitely give it a shot.
                    <br>
                    My next goal is to own and fly an aerobatic aircraft, after that my life is a mystery.
                </p>
                <a href="/about/" class="btn btn-default btn-xl">Still curious?</a>
            </div>
        </div>
    </div>
</section>
