<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who am I?</h2>
                <hr class="light">
                <p class="text-faded">I´m a masters student at the <a href="https://www.tum.de" style="color:#02365e">Technical University of Munich</a> studying Mathematics. I'm a graduate of the <a href="https://es.wikipedia.org/wiki/Instituto_Polit%C3%A9cnico_Nacional" style="color:#02365e">National Polytechnic Institute of Mexico</a> in Mathematics and Physics. I'm also a strong advocate of using free and open source software.<br>
                In a mountain lover and like all kinds of outdoor activities.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Take a look into my Resume!</a> -->
            </div>
        </div>
    </div>
</section>
