<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who am I?</h2>
                <hr class="light">
                <p class="text-white">I´m a masters student at the <a class="text-faded" href="https://www.tum.de">Technical University of Munich</a> studying Mathematics.
                  I'm a graduate of the <a class="text-faded" href="https://es.wikipedia.org/wiki/Instituto_Polit%C3%A9cnico_Nacional">National Polytechnic Institute of Mexico</a> in Mathematics and Physics.
                  In my free time I like to do any kind of outdoor activities but also watching movies, especially if these are about science fiction, and in case you were wondering,
                  my favorite titles are Interstellar and The Aviator. <br>
                  I enjoy reading and learning about technology, but I also really like music.
                  My favorite artist is Mark Knoplfer (from Dire Straits), as he reminds me of my father that I deeply appreciate.
                  By the time I wrote this, I was listening to Going Home (you can guess the author).
                  <br>
                  My next goal in life is to be able to own and fly an aerobatic aircraft, after that my life is a mystery.
                </p>
                <!-- <a href="#" class="btn btn-default btn-xl">Take a look into my Resume!</a> -->
            </div>
        </div>
    </div>
</section>
