<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>I'm interested in Mathematics, Computer Science, Aeronautics, Biology, Neuroscience</h1>
            <hr>
            <p>I´m a masters student at the <a href="https://www.tum.de/nc/en/homepage/">Technical University of Munich</a> studying Mathematics. I graduated of the <a href="https://es.wikipedia.org/wiki/Instituto_Polit%C3%A9cnico_Nacional">National Polytechnic Institute of Mexico</a> in Mathematics and Physics. I'm also a strong advocate of using free and open source software.</p>
<p> In a mountain lover and like all kinds of outdoor activities.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
